@font-face {
    font-family: 'lexenddeca';
    src: url('/LexendDeca-Regular.woff2') format('woff2'),
        url('/LexendDeca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media (max-width: 900px) {
  #leftBar {
    display: none;
  }
  #content {
    margin-left: 0px !important;
    padding: 0px !important;
    margin-top: 50px;
  }
  .leftBarHover {
    opacity: 0 !important;
  }
  .vid {
    width: 200px !important;
    height: 190px !important;
  }
  .thumb {
    height: 110px !important;
  }
  .barRow {
    height: 205px !important;
  }
  .contentBar {
    height: 225px !important;
  }
  #mobileHeader {
    display: block !important;
  }
}

body {
  background-color: #282828;
  overflow: hidden !important;
  margin: 0px;
}

#mobileHeader {
  display: none;
  background-color: #282828;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 50px;
  width: calc(100% - 20px);
  padding: 0px 10px;
  font-family: 'lexenddeca';
  overflow: hidden;
}

#mobileHeader #siteTitle {
  float: left;
  margin: 10px 0px;
  line-height: 30px;
  font-size: 30px;
  font-family: 'lexenddeca';
  color: white;
  text-decoration: none;
}

#mobileHeader #searchLink {
  float: right;
  margin: 10px 0px;
  line-height: 30px;
  font-size: 20px;
  font-family: 'lexenddeca';
  color: white;
  text-decoration: none;
}

#leftBar {
  background-color: #282828;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: calc(100% - 60px);
  padding-top: 30px;
  padding-bottom: 30px;
  border-right: 0px solid rgba(255, 255, 255, 0);
  transition: width 0.2s, border 0.2s;
}
#leftBar:hover {
  width: 400px;
}
.leftBarHover {
  margin-left: 8px;
  margin-right: 8px;
  font-family: sans-serif;
  color: white;
  opacity: 0;
  transition: opacity 0.2s;
}
#leftBar:hover .leftBarHover {
  opacity: 1;
}
#content {
  padding-top: 30px;
  padding-bottom: 30px;
  height: calc(100vh - 60px);
  margin-left: 100px;
  transition: margin-left 0.2s;
  overflow-y: auto;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  scrollbar-width: thin;
}
#content::-webkit-scrollbar {
  width: 6px;
  background-color: transparent; /* or add it to the track */
}
#content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
#content::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
#leftBar:hover ~ #content {
  margin-left: 405px;
}
.icon {
  display: block;
  width: 70px;
  margin-left: 15px;
  background: rgba(255, 255, 255, 0);
  margin-bottom: 20px;
}
.contentBar {
  width: 100%;
  height: 315px;
  margin-bottom: 20px;
  color: white;
  scroll-behavior: smooth;
}
.barTitle {
  margin: 0px;
  line-height: 25px;
  margin-left: 4px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  user-select: none;
}
.vid {
  display: inline-block;
  width: 350px;
  height: 270px;
  margin-left: 4px;
  margin-right: 4px;
  transition: margin 0.2s;
  user-select: none;
}
.vid:hover {
  margin-left: 8px;
  margin-right: 8px;
}
.vid:hover .thumb {
  border: 4px solid white;
  transition: border 0.1s;
}
.barRow {
  white-space:nowrap;
  width: 100%;
  height: 285px;
  color: transparent;
  font-size: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  scrollbar-width: thin;
}
.barRow::-webkit-scrollbar {
  height: 6px;
  background-color: transparent; /* or add it to the track */
}
.barRow::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
.barRow::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
.thumb {
  border: 4px solid transparent;
  border-radius: 6px;
  width: 100%;
  transition: border .4s;
  height: 190px;
  object-fit: cover;
}
.metadata {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 5px;
  width: 100%;
  overflow: hidden;
}
.title {
  margin: 0px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: 18px;
  line-height: 20px;
  max-height: 20px;
  overflow: hidden;
  overflow-wrap: break-word;
}
.creator {
  margin: 0px;
  margin-top: 4px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  line-height: 14px;
  max-height: 14px;
}
.smallData {
  margin: 0px;
  margin-top: 4px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  line-height: 14px;
  max-height: 14px;
}
#player {
  width: 100%;
  height: 100%;
}
.optionBar {
  width: calc(100% - 30px);
  transition: background-color 0.2s;
  padding: 4px 15px;
  margin: 4px 0px;
  user-select: none;
  text-decoration: none;
  outline: none;
}
.optionBar p {
  color: white;
  font-family: sans-serif;
  width: 70px;
  margin: 0px;
  font-size: 18px;
  text-align: center;
  transition: color 0.2s;
  text-decoration: none;
}
.optionBar:hover {
  background-color: rgba(255, 255, 255, 1);
}
.optionBar:hover p {
  color: #282828;
}
